# Archivos de salida de TypeScript
/dist

# Dependencias de Node.js
/node_modules
/package-lock.json
/yarn.lock

# Variables de entorno
.env

# Archivos generados por Prisma
/prisma/migrations/

# Archivos del editor y logs
.vscode/
.idea/
*.log
